.discoveryBegins {
	background-color: #540d53;
	width: 100vw;
	display: flex;
	align-items: center;
	padding: 30px;
	border-radius: 10px;
	margin-top: auto;
}

.leftSquare {
	display: flexbox;
	flex: 1;
}

.discoveryBegins h2 {
	font-size: 2rem;
	color: #000000;
	padding-left: 2rem;
	margin-bottom: 1.25rem;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

#discoveryButton {
	background-color: #f5167e;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 50px;
	transition: box-shadow 0.3s;
	box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 15px rgba(84, 13, 83, 0.7);
}

.homePage {
	background-image: url("/img/home_dicovery.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.homePage h1 {
	color: #ba306a;
	font-size: 4rem;
}

.homePage p {
	color: white;
	font-size: 2rem;
}

.title {
	font-family: Work Sans;
  font-style: italic;
  margin-top: 30vh;
  padding-left: 40px;
}
.paragraph{
  font-family: Work Sans;
  padding-left: 50px;
}